:root {
    --color-text: #00313F;
    --color-game-background: #54BAB9;
    --color-game-tint: #9ED2C6;
    --color-hub-background: #D5F1FC;
    --color-hub-tint: #88D6FA;
    --color-white: #ffffff;
}

